/*
Полное обнуление стилей сайта
 */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*
Меню бургер
 */
.wrapper {

}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #555555;
    z-index: 2;
}

.header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header_logo {
    flex: 0 0 60px;
    border-radius: 35%;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.header_logo img {
    max-width: 100%;
    display: block;
}

.header_burger {
    display: none;
}

.header_menu {

}

.header_list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header_list li {
    list-style: none;
    margin: 0 0 0 20px;
}

.header_link {
    color: lightgray;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

.header_link:hover {
    color: #fff;
}

@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }

    .header_body {
        height: 50px;
    }

    .header_logo {
        flex: 0 0 40px;
    }

    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        transition: all 0.5s ease 0s;
    }

    .header_burger:before,
    .header_burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.5s ease 0s;
    }

    .header_burger span {
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }

    .header_burger:before {
        top: 0;
    }

    .header_burger:after {
        bottom: 0;
    }

    .header_burger.active span {
        transform: scale(0);
    }

    .header_burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header_burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: aquamarine;
        padding: 70px 10px 20px 10px;
        transition: all 0.5s ease 0s;
        overflow: auto;
    }

    .header_menu.active {
        top: 0;
    }

    .header_list {
        display: block;
    }

    .header_list li {
        margin: 0 0 20px 0;
    }
}



.content_text {
    font-size: 18px;
    line-height: 25px;
}

.content_text p {
    margin: 0 0 20px 0;
}

@media (max-width: 767px) {
    .content {
        padding: 10px 0 0 0;
    }
}

/*
container

 */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.section {
    margin: 60px 0 /* внешние отступы для блока - сверху и снизу по 60px, слева и справа по 0px */;
}
.container {
    max-width: 1170px /* максимальная ширина контейнера */;
    margin: 0 auto /* расположение контейнера по центру */;
    padding: 0 30px /* внутренние отступы слева и справа по 30px, верхний и нижний отступы по 0px */;
}
.catalog__flex {
    display: flex /* по умолчанию дочерние блоки(.catalog__col) будут располагаться в ряд */;
    flex-wrap: wrap /* дочерние блоки переносятся на следующую строку, если ширина всех внутренних блоков превышает ширину родительского блока(.catalog__flex) */;
    margin: 0 -15px -30px /* Отрицательные внешние отступы(значения противоположные значениям padding блока .catalog__col), чтобы компенсировать внутренние отступы дочерних блоков(.catalog__col), НЕ ДОЛЖЕН превышать боковых значений padding блока .container*/;
}
.catalog__col {
    width: 50% /* Задаем ширину блока(по 4 блока в ряд)*/;
    padding: 0 15px 30px /* Размер внутренних отступов блока - справа и слева по 15px(которые дают общий отступ 30px между блоками) и снизу отступ 30px */;
}
.card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 15px rgba(33,37,41,0.1);
    transition: all 0.3s ease;
    height: 100%;
}
.card:hover {
    box-shadow: 0 0 5px rgba(33,37,41,0.1);
}
.card__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}
.card__text {
    flex: 1;
}
.card__button {
    margin-top: 30px;
    text-align: center;
}
.card__button a {
    display: inline-flex;
    padding: 0 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: #212529;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #f7cb15;
    transition: all 0.3s ease;
    background: #fff;
}
.card__button a:hover {
    border-color: transparent;
    background: #f7cb15;
}

/* Адаптивность */
@media (max-width: 991.98px) {
    .catalog__col {
        width: 50% /* при ширине браузера меньше 992px будет по 2 блока в ряд */;
    }
}
@media (max-width: 575.98px) {
    .catalog__col {
        width: 100% /* при ширине браузера меньше 576px будет по 1 блоку */;
    }
}
.content_container {
    padding: 10px;
}

/*
footer
Нижняя часть с моими контактами
 */
footer {
    text-align: center;
    color: white;
}

.contact_block {
    display: flex;
    flex-direction: column;
    background-color: #555555;
    padding: 0 0 20px 0;
}

.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.fa {
    color: white;
    display: block;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

/*
popup с информацией о проектах

 */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.8s ease 0s;
}
.popup:target {
    visibility:  visible;
    opacity: 1;
}
body.lock {
    overflow: hidden;
}
.popup.open {
    visibility:  visible;
    opacity: 1;
}
.popup.open .popup_content {
    transform: translate(0, 0);
    opacity: 1;
}

.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    transition: all 0.8s ease 0s;
}
.popup_content {
    background-color: #fff;
    color: black;
    max-width: 800px;
    padding: 30px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}

.popup_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.popup_title {
font-size: 40px;
    margin: 0 0 1em 0;
}
.popup_text {

}


/*

 */

#portfolio {
    padding: 10px 0 0 0;
    font-size: 35px;
    text-align: center;
    font-style: revert;
}

